*{
    padding: 0px;
    margin: 0px;
    outline: none;
}
/* body */
/*------------ đăng nhập------------ */
.container{
    background-image:linear-gradient(40deg, rgba(50, 95, 218, 0.8),60%, rgba(236, 123, 202, 0.85));
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    background-color: rgba(255, 255, 255, 0.4);
    width: 300px;
    height: 350px;  
    border-radius: 10px;
    padding: 40px 30px;
} 

h1{
    font-size: 30px;
    margin-bottom: 40px;
} 

.form-text input{
    width: 95%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all .4s;

}

.form-text input:hover{
    background-color: rgb(215, 221, 231);
}

.form-login .check{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

a{
    text-align: center;
    margin-bottom: 40px;
}

.Login{
    font-size: 20px;
    width: 80%;
    text-align: center;
    background-color: rgb(60, 60, 247);
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}

.Login:hover{
    background-color: rgb(58, 207, 125);
}


