{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static '/web/page_home.css' %}">
</head>

<body>
    <div class="header">
        <h1>Website Profile</h1>
        <p>A website created by Huỳnh Sáng.</p>
    </div>

    <div class="navbar">
        <a href="{%url 'page_login'%}" class="login">Login</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
</body>

</html>