{% extends 'web/register.html' %} {%block header%}
<header>
    <main>
        <div class="container">
            <div class="register-form">
                <h2>Đăng ký</h2>
                <div class="row">
                    <div class="fullname">
                        <input class="ho" type="text" placeholder="Họ và Tên">
                    </div>
                    <div class="email">
                        <input type="text" placeholder="Email hoặc Số điện thoại">
                    </div>
                    <div class="username">
                        <input type="text" placeholder="Tên đang nhập">
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Mật khẩu mới">
                        <input type="password" placeholder="Nhập lại mật khẩu">
                    </div>
                    <span>Ngày sinh</span>
                    <li><i class="fas fa-map-marker-question small-icon"></i></li>
                    <div class="dd">
                        <input type="text" placeholder="DD">
                    </div>
                    <div class="mm">
                        <input type="text" placeholder="MM">
                    </div>
                    <div class="yyyy">
                        <input type="text" placeholder="YYYY">
                    </div>
                    <span class="gioitinh1">Giới tính</span>
                    <li><i class="fas fa-map-marker-question small-icons"></i></li>
                    <div class="gioitinh">
                        <input type="checkbox"> Nam
                        <input type="checkbox"> Nữ
                    </div>
                    <a href="{%url 'register_success'%}"><input class="Register" type="Submit" value="Đăng ký"></a>
                </div>
            </div>
        </div>
    </main>
</header>
{%endblock%}